MEDIA=
STORAGE=
TIMEZONE=

#Pihole
PIHOLE_PASS=
PIHOLE_ROUTE=

#Photoprism
PHOTOPRISM_USER=
PHOTOPRISM_PASS=
PHOTOPRISM_URL=
PHOTOPRISM_DATABASE_NAME=
PHOTOPRISM_DATABASE_USER=
PHOTOPRISM_DATABASE_PASSWORD=
PHOTOPRISM_ROUTE=

#Calibre
CALIBRE_ROUTE=

#Plex
PLEX_CLAIM=
PLEX_ROUTE=

#Transmission
TRANSMISSION_USER=
TRANSMISSION_PASS=
TRANSMISSION_ROUTE=

#Flexget
FLEXGET_PASS=
FLEXGET_ROUTE=